<app-nav-bar></app-nav-bar>
<div class="box mx-auto" style="background-color: white; background-image: url('/assets/background-image.png'); width:1610px; height:900px">
    <div class="flex-container text-center" style="margin-top: 130px">
        <div class="row" style="margin-bottom: 60px">
          <div class="col" style="font-size: 30px">
            <b>Item Name</b>
          </div>
          <div class="col" style="font-size: 30px">
            <b>Shelf Capacity</b>
          </div>
          <div class="col" style="font-size: 30px">
            <b>Item Quantity</b>
          </div>
          <div class="col" style="font-size: 30px">
            <b>Storage Location</b>
          </div>
          <div class="col" style="font-size: 30px">
            <b>Item Type</b>
          </div>
          <div class="col" style="font-size: 30px">
            <b>Item Barcode</b>
          </div>
        </div>
    </div>
        <!-- <app-product-list itemName={{product.itemName}} shelfCapacity={{item.shelfCapacity}} itemQuantity={{item.itemQuantity}} storageLocation={{item.storageLocation}} itemType={{item.itemType}} itemBarcode={{item.itemBarcode}}></app-product-list> -->
        <div class="flex-container" style="background-color: grey; height: 1px; width: 1610px; margin-bottom: 30px">
          <ul>
            <li *ngFor="let item of products">{{ item }}</li>
          </ul>
          </div>

    <div style="text-align: center">
        <button class="btn btn-primary" style="border-radius: 40px; margin-bottom: 70px">
            <a href="home" style="color: white; text-decoration: none">Back to Top</a>
        </button>
    </div>
</div>
