/* Everything goes in this */
.middle{
    margin-left: 20%;
    margin-right: 20%;
    
    background-color: white;
    outline: .2em solid rgb(188, 188, 188);
    border-radius: 5px;

    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: left;
}

.container-fluid{
    text-align: center;
    height:fit-content;
}

/* Text at the top of page */
.header{
    /* color: whi; */
    font-size: 3em;
    text-align: center;
}

.lable{
    font-size: 2em;
    color: black;

}

/* Toggle Buttons */
.btn-outline-success{
    background-color: #e4dfcf;
    border-color: #EAAA00;
    color: black;
}
.btn-check:checked+.btn-outline-success {
    color: #fff;
    background-color: #002855;
    border-color: #002855;
}
.btn-check:btn-outline-success {

    color: #fff;
    background-color: #002855;
    border-color: #002855;
}

/* Generate Button */
.btn-generate{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    height: 2em;
    background-color: #EAAA00;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.5em;
}
.btn-generate:hover{
    background-color: #f5b915;
}
.btn-generate:active{
    background-color: #000912;
}