.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-select{
    display:inline;
}

.card{
    min-width:18rem;
    border-radius: 10%;
    margin-top:22.5%;
}

select{
    display:block;
}

.card-title{
    padding-bottom:-3rem;
    text-align:center;
    padding-top:1rem;
}

.form-label{
    padding-top:1rem;
}

.btn{
    margin-top:1rem;
    color: white;
    border-radius: 12px;
}

.btn:active{
    background-color:#002855;
    color: #eaaa00;
    border:#002855;
}

body{
    background-image: url('../../../assets/background-image.png');
    width:173vh;
    margin:auto;
    background-position-y:80px;
}