<app-nav-bar></app-nav-bar>

<form class="container-fluid mx-auto" style="background-color: white; background-image: url('/assets/background-image.png'); width: 1610px; height: 930px; margin-top: 90px">

<div class ="sign-out">
            
    <h3>Are you sure you'd like to sign out?</h3>

        <div class="buttons">
            <div class="button1">
                <a href="#" id="yes" role="button" class="btn btn-block"><b>Yes</b></a>
            </div>
            <div class="button2">
                <a href="home" id="no" role="button" class="btn btn-block"><b>No</b></a>
            </div>
        </div>
</div>
</form>