.container-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align:center;
}



.btn {
    width:40%;
    justify-content: center;
    color:white;
    
}

.button1 {
    width: 100%;
    justify-content: center;
    align-items: center;
    display:flex;
    padding-bottom:2%
}

.button2 {
    width: 100%;
    justify-content: center;
    align-items: center;
    display:flex;
}