.controls{
    font-size: 25px;
    background-color: #ffc14c ;
    color:blue;
}
.flag{
    color:rgba(27, 27, 27, 0.466);
}
.flag:hover{
    color: rgb(255, 98, 0);
}

.col{
    font-weight: 700;
}
