<div>
    <app-nav-bar></app-nav-bar>
</div>
<div class="container-fluid mx-auto"
    style="background-color: white; background-image: url('/assets/background-image.png'); width: 100%; height: 930px; margin-top: 120px">
    <h1 style="text-align: center; font-size:45px; padding:30px; font-weight: 700;">Audit System</h1>
    <div class="d-flex justify-content-center">
        <div class="card" style="width:50%">
            <h2 style="text-align: center; padding-top:30px; font-size:40px">
                Audit Controls</h2>
            <div class="d-flex justify-content-between" style="padding:20px; padding-left:50px; padding-right:50px">
                <form #postForm="ngForm" (ngSubmit)="showFlagged()">
                    <div *ngIf="this.showingFlagged==false; else elseBlock">
                        <button type="submit" class="btn controls" style="color:white"><strong>View Flagged Items</strong></button>
                    </div>
                    <ng-template #elseBlock>
                        <button type="submit" class="btn controls" style="color:white"><strong>View All Items</strong></button>
                    </ng-template>
                </form>
                <form>
                    <button type="button" class="btn controls" style="color:white">
                        <a href="audit/update-item" style="color:white; text-decoration: none;"><b>Update Specific Item</b></a>
                    </button>
                </form>
                <form #postForm="ngForm" (ngSubmit)="generate()">
                    <button type="submit" class="btn controls" style="color:white"><strong>Get Audit Report</strong></button>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="padding: 30px">
        <div class="container-fluid" style="width:90%">
            <h2 style="text-align: center; padding-top:30px; font-size:40px">
                Audit Items</h2>
            <div class="container-fluid" style="padding:20px; font-size: 20px">
                <div class="card">
                    <div class="row" style="text-align: center; padding: 20px;">
                        <div class="col">
                            <p>Barcode</p>
                        </div>
                        <div class="col">
                            <p>Item Name</p>
                        </div>
                        <div class="col">
                            <p>Quantity</p>
                        </div>
                        <div class="col">
                            <p>Actual Quantity</p>
                        </div>
                        <div class="col">
                            <p>Location</p>
                        </div>
                        <div class="col">
                            <p>Actual Location</p>
                        </div>
                        <div class="col">
                            <p>Flag</p>
                        </div>
                        <div class="col">
                            <p>Submit</p>
                        </div>
                        <div *ngIf="this.showingFlagged==false; else elseBlock2">
                            <div *ngFor="let item of items">
                                <app-audit-products itemName={{item.itemName}} itemQuantity={{item.itemQuantity}}
                                    storageLocation={{item.storageLocation}} flag={{item.flag}}
                                    itemBarcode={{item.itemBarcode}} itemType={{item.itemType}}
                                    shelfCapacity={{item.shelfCapacity}} itemBarcode={{item.itemBarcode}}>
                                </app-audit-products>
                            </div>
                        </div>
                        <ng-template #elseBlock2>
                            <div *ngFor="let item of flaggedItems">
                                <app-audit-products itemName={{item.itemName}} itemQuantity={{item.itemQuantity}}
                                    storageLocation={{item.storageLocation}} flag={{item.flag}}
                                    itemBarcode={{item.itemBarcode}} itemType={{item.itemType}}
                                    shelfCapacity={{item.shelfCapacity}}>
                                </app-audit-products>
                            </div>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>