<div class="flex-container text-center">
    <div class="row" style="margin-bottom: 30px">
      <div class="col">
        <b style="background-color: white">{{itemName}}</b>
      </div>
      <div class="col">
        <b style="background-color: white">{{shelfCapacity}}</b>
      </div>
      <div class="col">
        <b style="background-color: white">{{itemQuantity}}</b>
      </div>
      <div class="col">
        <b style="background-color: white">{{storageLocation}}</b>
      </div>
      <div class="col">
        <b style="background-color: white">{{itemType}}</b>
      </div>
      <div class="col">
        <b style="background-color: white">{{itemBarcode}}</b>
      </div>
    </div>
</div>