<div class="flex-container text-center">
    <div class="row" style="margin-bottom: 30px; width: 173vh">
      <div class="col">
        <strong style="background-color: white">{{itemName}}</strong>
      </div>
      <div class="col">
        <strong style="background-color: white">{{shelfCapacity}}</strong>
      </div>
      <div class="col">
        <strong style="background-color: white">{{itemQuantity}}</strong>
      </div>
      <div class="col">
        <strong style="background-color: white">{{storageLocation}}</strong>
      </div>
      <div class="col">
        <strong style="background-color: white">{{itemType}}</strong>
      </div>
      <div class="col">
        <strong style="background-color: white">{{itemBarcode}}</strong>
      </div>
    </div>
</div>