<form class="container-fluid row mx-auto"
    style="background-image: url('/assets/background-image.png'); height: 100%; width: 100%">
    <app-nav-bar></app-nav-bar>
    <div class="col organize">
        <div class="header row">
            <h1 class="display-3"><strong>WVU Statler Outreach Center</strong></h1>
            <h2 class="display-8"> Inventory Management System</h2>
        </div>
        <div class="outer row d-flex">

            <div class="organizeInner">
                <div class="form-group mt-2 mb-3">
                    <input type="text" placeholder="E-Mail" #user>
                    Please ensure you input a valid email address.
                </div>
                <div class="form-group mb-3">
                    <input type="password" placeholder="Password" #pass>
                    Passwords must be greater than 5 characters in length.
                </div>

                <div class="inner">
                    <button id="sign-up" type="button" class="btn btn-warning btn-block" style="color:white" (click)="signUp(user, pass)">
                        <strong>Sign up</strong>
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>