<nav class="navbar fixed-top navbar-expand-lg" style="background-color: darkblue">
  <a class="navbar-brand ms-auto" href="#">
    <img src="/assets/statler-outreach-logo.png" height="60" width="auto">
  </a>
  <div class="btn-toolbar mx-auto" role="toolbar">
      <button class="fw-bold me-4 no-border" style="background-color: transparent; font-size: 24px; margin-left: 100px; color: white" href="#"><b>Search Items</b></button>
      <button class="fw-bold me-4 no-border" style="background-color: transparent; font-size: 24px; margin-left: 100px; color: white" href="#"><b>Add or Remove Items</b></button>
      <button class="fw-bold me-4 no-border" style="background-color: transparent; font-size: 24px; margin-left: 100px; color: white" href="#"><b>Generate Item Report</b></button>
      <button class="fw-bold me-4 no-border" style="background-color: transparent; font-size: 24px; margin-left: 100px; color: white" href="#"><b>Audit System</b></button> 
  </div>
</nav>