.no-border { 
    padding: 0;
    border: none;
    background: none;
}

.wrap-img {
    overflow: hidden;
    position: relative;
    
}

.bg-img {
    opacity: 0.3;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin-top: 90px;
}

.content{
    position: relative;
}