<nav class="navbar fixed-top navbar-expand-lg" style="background-color: darkblue">
  <a class="navbar-brand ms-auto" href="home">
    <img src="/assets/statler-outreach-logo.png" height="60" width="auto">
  </a>
  <div class="btn-group mx-auto" role="group">
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="search" style="color: white; text-decoration: none"><b>Search Items</b></a>
      </button>
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="add-remove" style="color: white; text-decoration: none"><b>Add or Remove items</b></a>
      </button>
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="report" style="color: white; text-decoration: none"><b>Generate Item Report</b></a>
      </button>
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="audit" style="color: white; text-decoration: none"><b>Audit System</b></a>
      </button>
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="sign-out" style="color: white; text-decoration: none"><b>Sign Out</b></a>
      </button>
  </div>
</nav>