<nav class="navbar fixed-top navbar-expand-lg" style="background-color: darkblue">
  <a class="navbar-brand ms-auto" href="home">
    <img src="/assets/statler-outreach-logo.png" height="60" width="auto" alt="WVU_Enrollement_Center_Inventory">
  </a>
  <div class="btn-group mx-auto" role="group">
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="search" style="color: white; text-decoration: none"><strong>Search Items</strong></a>
      </button>
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="add-remove" style="color: white; text-decoration: none"><strong>Add or Remove Items</strong></a>
      </button>
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="report" style="color: white; text-decoration: none"><strong>Generate Item Report</strong></a>
      </button>
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="audit" style="color: white; text-decoration: none"><strong>Audit System</strong></a>
      </button>
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="sign-up" style="color: white; text-decoration: none"><strong>Sign Up</strong></a>
        </button>
      <button type="button" class="btn fw-bold" style="background-color: transparent; font-size: 24px; margin-left: 70px;  border: none">
        <a href="sign-out" style="color: white; text-decoration: none"><strong>Sign Out</strong></a>
      </button>
  </div>
</nav>